*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex;
}

.column {
  flex-flow: column;
}

.site-container {
  background: #000000;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.frame {
  background: #e10d10;
  width: 95vmin;
  height: 95vmin;
  border: #f1374c outset 0.5vmin;
  border-radius: 2vmin;
  justify-content: space-between;
  align-items: center;
}

.frame-top {
  flex: 1;
  align-self: stretch;
  justify-content: center;
}

.frame-top-left,
.frame-top-right {
  flex: 1;
}

.button {
  background: #e10d10;
  color: #d6d5df;
  border: #f1374c outset 0.5vmin;
  border-radius: 2vmin;
  height: 6vmin;
  width: 6vmin;
  margin: 2vmin;
  font-size: 2vmin;
  font-weight: 600;
}

.button:hover {
  background: #ee1f23;
}

.button:active {
  transform: scale(0.95);
  border: #f1374c inset 0.5vmin;
}

.title {
  align-items: center;
  gap: 3vmin;
}

.title > h1 {
  color: #d3a773;
  font-family: 'Style Script', cursive;
  font-size: 7vmin;
  text-shadow: 1px 1px #ffc98a;
}

.title > span {
  color: #d3a773;
  font-size: 2.5vmin;
  font-style: italic;
  font-weight: 800;
  text-shadow: 1px 1px #ffc98a;
}

.frame-middle {
  height: 75%;
  width: 75%;
  background: #808791;
  border: #f1374c inset 0.5vmin;
  border-radius: 1vmin;
  justify-content: center;
  align-items: center;
}

.screen-container {
  height: 99.5%;
  width: 99.5%;
}

.screen-container.flex {
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.pixel {
  /* border: #6e747e solid 0.05vmin; */
  /* 
  height: applied through JavaScript
  width: applied through JavaScript
  */
}

.etched {
  background: #646464;
}

.frame-bottom {
  flex: 1;
  align-self: stretch;
  justify-content: space-between;
}

.dial {
  background: #d6d5df;
  height: 11vmin;
  width: 11vmin;
  align-self: flex-end;
  border: #fbfcfc outset 1vmin;
  border-radius: 11vmin;
}